.places ul {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.places h1 {
    width: 100%;
    text-align:left;
    font-size: 30px;
    position: relative;
    margin-bottom: -15px;
    margin-left: 20px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}

.places article {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.places article li {
    width: 390px;
    padding: 20px; 
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}